* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-color: orange;
}

.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow: auto;
  width: 665px;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  .container {
    transform: scale(0.5);
  }
}

.image {
  margin: 15px;
}

div img {
  height: 400px;
  width: 300px;
  background-position: center;
  background-size: center center;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid white;
}

button {
  padding: 10px 30px;
  animation: all 0.8s;
  margin: 20px;
  border-radius: 5px;
}

button:hover {
  background-color: black;
  color: White;
  cursor: pointer;
  border: 2px solid white;
}
